<form method="post">
  {% csrf_token %}
  <label for="cars">Choose a car:</label>

  {{ form.film_selector }}

  <br /><br />
  <input type="submit" value="Submit" />
</form>
<button onclick="addFilmToList()">Add to list</button>
<button onclick="oneriAl()" id="oneriAlButton">Oneri al</button>

<script>
  var filmList = [];
  function addFilmToList() {
    var e = document.getElementById("film_selector");
    var value = e.value;
    filmList.push(value);
    filmList.forEach(console.log);
  }

  function oneriAl() {
    var jsonFilmler = encodeURIComponent(JSON.stringify(filmList));
    window.open("/run?filmList=" + jsonFilmler, "_self");
  }
</script>
