<form method="post">
  {% csrf_token %}
  <label>Select a film:</label>

  {{ form.film_selector }}

  <h4>Liked films:</h4>
  <pre id="liked_list"></pre>
  <br /><br />
</form>

<button onclick="addFilmToList()">Add to list</button>
<button onclick="oneriAl()" id="oneriAlButton">Oneri al</button>

<script>
  var filmList = [];
  function addFilmToList() {
    var film_selector = document.getElementById("film_selector");
    var film = film_selector.value;
    filmList.push(film);
    filmList.forEach(console.log);

    addFilmToHtml(film);
  }

  function oneriAl() {
    var jsonFilmler = encodeURIComponent(JSON.stringify(filmList));
    window.open("/onerial?filmList=" + jsonFilmler, "_self");
  }

  function addFilmToHtml(film) {
    var paragraph = document.getElementById("liked_list");
    paragraph.textContent += film + "\n";
  }
</script>
